body {
    margin: 0px;
    padding: 0px;
    font-family: arial;
}
.boxs003 {
    display: flex;
    margin: 5px;
    height: auto;
    width: 99%;
}
.box0001 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: nowrap;
    padding: 40px;
    margin: 5px;
    height: auto;
    width: 50%;
}
.box0001 h1 {
    margin: 0px;
    padding: 10px;
    height: auto;
    width: 60%;
    font-size: 80px;
    margin-bottom: 40px;
}
.btn0001 {
    padding: 10px;
    min-width: fit-content;
    display: flex;
    align-items: center;
    align-content: center;
}
.btn0001 a {
    padding: 20px 30px;
    border: 2px solid black;
    border-radius: 20px;
    text-decoration: none;
    font-size: x-large;
    color: rgb(255, 255, 255);
    background-color: black;
}
.btn0001 a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
.box0002 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: nowrap;
    padding: 40px;
    margin: 5px;
    height: auto;
    width: 50%;
}
.faqboxs {
    width: 100%;
}
.faqbox{
    border-left-style: solid;
}
.faqbtn1 {
    text-align: left;
    cursor: pointer;
    height: 100px;
    background: none;
    border: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.lnr-chevron-down {
    margin: 10px;
    height: 20px;
    width: 20px;
}
.faqbtn1 h1 {
    font-size: x-large;
}
.faqmenu {
    display: none;   
    height: auto;
}
.faqmenu h1 {
    margin: 0px;
    padding: 0px 10px 50px 45px;
    font-size: medium;
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 786px) {
}
@media only screen and (max-width: 425px) {
    .boxs003 {
        display: flex;
        flex-direction: column;
    }
    .box0001 h1 {
        margin: 0px;
        padding: 10px;
        height: auto;
        width: 100%;
        font-size: 60px;
        margin-bottom: 40px;
    }
    .box0002 {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: nowrap;
        padding: 40px;
        margin: 5px;
        height: auto;
        width: 80%;
    }
    .faqbtn1 h1 {
        font-size: medium;
    }
}
